<div>
    <el-form>
        <i class="color-massage-error" type="error" v-show="isVisibleErrors.email || isVisibleErrors.uncorrectAcc">
            {{ $t('registration.errorsEmail') }}</i>
        <el-form-item class="email" prop="email">
            <el-input :placeholder="$t('authorization.enterLogin')" v-model="email" type="email">
            </el-input>
        </el-form-item>
        <i class="color-massage-error" type="error" v-show="isVisibleErrors.password || isVisibleErrors.uncorrectAcc">
            {{ $t('registration.errorsPassword') }}</i>
        <el-form-item class="password" prop="password">
            <el-input type="password" :placeholder="$t('authorization.enterPassword')" v-model="password">
            </el-input>
        </el-form-item>
        <span class="forget-password">{{$t('authorization.forgetPassword')}}</span>
        <i class="color-massage-error uncorrectAcc" type="error" v-show="isVisibleErrors.uncorrectAcc">
            {{$t('authorization.firstErrorMessage')}}
            {{$t('authorization.secondErrorMessage')}}.</i>
        <span v-show="!isVisibleErrors.uncorrectAcc">{{$t('authorization.firstUserAgreement')}}</span>
        <span v-show="!isVisibleErrors.uncorrectAcc">{{$t('authorization.secondUserAgreement')}}</span>
    </el-form>
    <div class="login-footer">
        <el-button class="login-button" type="primary" @click="login()">{{ $t('registration.signIn') }}</el-button>
        <div class="entrance">
            {{$t('authorization.haveAccount')}}
            <button class="register-button second-color" @click="changeRegisterVisible()">{{$t('authorization.signUp')}}</button>
        </div>
    </div>
</div>