<div class="side-bar-layout">
  <el-menu class="el-menu-vertical menu">
    <div class="user-avatar">
      <ff-user-avatar class="img" :size="80" :noBaseComponent=true></ff-user-avatar>
    </div>
    <div class="username main-color">
      <span>{{user.name}}</span>
    </div>
    <div class="user-location main-color">
      <i class="el-icon-location-outline"></i>
      <span> Dnipro</span>
    </div>
    <div class="user-info">
      <div>
        <i class="el-icon-video-camera user-icons "></i>
        <span class="main-color"> 35</span>
      </div>
      <div>
        <i class="el-icon-star-on user-icons "></i>
        <span class="main-color"> 4.5</span>
      </div>
    </div>
    <hr>
    <el-submenu class="menu-item" index="1">
      <template slot="title">
        <i class="el-icon-video-camera icons "></i>
        <span slot="title" class="submenu">{{$t('sideBar.movies')}}</span>
      </template>
      <el-menu-item-group>
        <el-menu-item class="sub-menu-item main-color" index="1-1"><router-link class="menu-item" to="/favorites">{{$t('sideBar.favorites')}}</router-link></el-menu-item>
        <el-menu-item class="sub-menu-item main-color" index="1-2">{{$t('sideBar.сollections')}}</el-menu-item>
      </el-menu-item-group>
    </el-submenu>
    <el-menu-item class="menu-item main-color" index="2">
      <i class="el-icon-edit icons"></i>
      <span slot="title">{{$t('sideBar.reviews')}}</span>
    </el-menu-item>
    <el-menu-item class="menu-item main-color" index="3">
      <i class="el-icon-bell icons"></i>
      <span slot="title">{{$t('sideBar.notifications')}}</span>
    </el-menu-item>
    <el-menu-item class="menu-item main-color" index="4">
      <i class="el-icon-user icons"></i>
      <span slot="title">{{$t('sideBar.myFriends')}}</span>
    </el-menu-item>
    <el-menu-item class="menu-item main-color" index="5">
      <i class="el-icon-setting icons"></i>
      <span slot="title">{{$t('sideBar.settings')}}</span>
    </el-menu-item>
    <el-menu-item class="menu-item main-color" index="6" @click="logout">
      <i class="el-icon-right icons"></i>
      <span slot="title">{{$t('sideBar.logOut')}}</span>
    </el-menu-item>
  </el-menu>
</div>