div.body {  
  width: 1440px;
}

div.main, div.lowerPart {  
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

div.main {
  height: 125px;
}

div.logo {
  margin: 5px 0px 10px 80px;
  padding: 5px 0px 10px;   
}

div.stores {
  margin-left: 80px;   
}

div.lowerPart {
  height: 57px; 
}

div.lowerPart > span {
  margin-left: 150px;
  font-size: 11px;
}

button.privicyPolice {
  margin-right: 140px;
  font-size: 14px;
}

button { 
  border: 0px;
  padding: 10px;
  font-size: 16px;
}

div.socialNetworks {
  margin-right: 115px; 
}

i {
  font-size: 22px;
  padding: 10px;
}

a {
  margin-right: 23px;
}

img {
  height: 24px;
}

div.socialNetworks > div {
  padding-bottom: 10px;  
}