<div class="main-color">  
  <div class="color-background ff-footer">  
    <div class="logo">
      <ff-logo/>
      <div class="stores">
        <el-link>
          <img alt="App Store" src="../../assets/appStore.png">
        </el-link>
        <el-link>
          <img alt="Google play" src="../../assets/googlePlay.png">
        </el-link>       
      </div>    
    </div>
    <div>
      <el-button class="color-background main-color footer-button"><router-link class="footer-button" to="/movies">Фильмы</router-link></el-button>
      <el-button class="color-background main-color footer-button"><router-link class="footer-button" to="/serials">Сериалы</router-link></el-button>
      <el-button class="color-background main-color footer-button"><router-link class="footer-button" to="/cartoons">Мультфильмы</router-link></el-button>
      <el-button class="color-background main-color footer-button"><router-link class="footer-button" to="/news">Новости</router-link></el-button>
      <el-button class="color-background main-color footer-button"><router-link class="footer-button" to="/actors">Актеры</router-link></el-button>      
    </div>
    <div class="social-networks">
      <div>Социальные сети</div>
      <el-link>
        <img alt="Google" src="../../assets/google.png">
      </el-link>
      <el-link>
        <img alt="Twitter" src="../../assets/twitter.png">
      </el-link>
      <el-link>
        <img alt="Facebook" src="../../assets/facebook.png">
      </el-link>
    </div>   
  </div>
  <div class="footer-color-background">
    <div>
      (с) Все права защищены
    </div>
    <el-link class="main-color">Пользовательское соглашение</el-link>
    <el-link class="main-color privicy-police">Privicy Police</el-link>
  </div> 
</div>


