div.main,
div.lower-part {  
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

div.main {
  height: 125px;
}

div.logo {
  margin: 5px 0px 10px 80px;
  padding: 5px 0px 10px;   
}

div.stores {
  margin-left: 80px;   
}

div.lower-part {
  height: 57px; 
}

span {
  margin-left: 150px;
  font-size: 11px;
}

button.footer { 
  border: 0px;
  padding: 10px;
  font-size: 16px;
}

a.privicy-police {
  margin-right: 140px;  
}

div.social-networks {
  margin-right: 115px; 
}

i {
  font-size: 22px;
  padding: 10px;
}

a {
  margin-right: 23px;
}

img {
  height: 24px;
}

div.social-networks > div {
  padding-bottom: 10px;  
}