<div id="Wrap">    
  <el-row class="el-row-wrap" :gutter="20" type="flex" justify="start">
    <el-col v-for="serial in getSerialsList" class="grid-col-wrap" :key = "serial.serialId">
      <div class="grid-content-wrap">
        <el-image fit='cover' :src="getImgSrc(serial.imageSource)"></el-image>
        <div class="grid-content-main">
          <div class="serial-name">
            <div><span>{{serial.name}}</span></div>
          </div>
            <el-row type="flex" justify="start" class ="serial-rating">
              <el-col :span="24" class="ss">
                <el-rate v-model="serial.rating" disabled :colors="['var(--main-bg-color)', 'var(--main-bg-color)', 'var(--main-bg-color)']"></el-rate>
              </el-col>
              <el-col :span="3"><span>{{serial.year}}</span></el-col>
            </el-row>
            <div class="serial-list">              
              <span>{{serial.celebrities | spaceBetweenElement('FullName')}}</span>
            </div>
        </div>
      </div>
    </el-col>
  </el-row>
</div>
