.favorite-view{
    margin: 0;
}

.el-row-wrap {
    display: flex;
    flex-flow: row wrap;
    max-width: 1470px;
    margin: 0 auto;
}
  
.grid-col-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
    width: 1400px;
    height: 200px;
    bodrder: 1px solid red;
}

.grid-content-wrap {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 200px;
    bordder: 2px solid green; 
    display: flex;

}

.grid-content-main {
    width: 70%;
    padding: 20px 80px 0px;
    boqrder: 1px solid orange;
}

.favorite-name div {
    display: flex;
    justify-content: flex-start;
    height: 46px;
}

.favorite-name div span {

    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.el-image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.favorite-rating {
    margin-bottom: 7px;
    height: 20px;
}

.year {
    font-family: var(--txt-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    color: var(--ff-font-year-color);
    margin-top: 6px;
}

.rate >>> .el-rate__icon {
    font-size: 26px;
}

.celebrities-list {
    font-size: 12px;
    padding: 30px 0px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.el-pagination {
    padding: 40px 0px 0px;
    text-align: center
}