<div id = "Wrap">
  <el-row class = "el-row-wrap" :gutter="20" type="flex" justify="center">
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
  <el-row class = "el-row-wrap" :gutter="20" type="flex" justify="center">
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
    <el-col class = "grid-col-wrap" :span="5">
      <div class="grid-content-wrap">
        <el-image :src="src"></el-image>
        <div class = "grid-content-main">
        <el-row type="flex" justify="start" class = "actorName">
          <el-col :span="10"><span>Роберт Дауни</span></el-col>
        </el-row>
        <el-row type="flex" justify="start" class = "actorJobs">
          <el-col :span="4"><span>актер</span></el-col>
        </el-row>
        <el-row type="flex" justify="end" class = "actorViews">
          <el-col :span="2"><i style="margin: 1px 0px;" class="el-icon-view"></i></el-col>
          <el-col :span="2"><span>127k</span></el-col>
        </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
</div>
