<div class = "review-component-root">
  <div class = "button-wrap">
  <el-input class = "input-field"
      placeholder="Please input"
      v-model="inputString"
      clearable>
  </el-input>
  <el-button class = "find-button" type="primary" @click="findReviewPage" icon="el-icon-position"></el-button>
  <el-select class = "sort-select" @change="sortContent" v-model="sortValue" placeholder="Select">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  </div>
    <el-button-group>
        <el-button :class="{ notactive : isRowView }" @click = "onClick" size="small" type="primary" icon="el-icon-s-grid"></el-button>
        <el-button :class="{ notactive : !isRowView }" @click = "onClick" size="small" type="primary"><i class="el-icon-s-order"></i></el-button>
    </el-button-group>
    <ff-reviews-rows ref="reviews" :reviews="getReviewsList" v-if = "isRowView"/>
    <ff-reviews-blocks ref="reviews" :reviews="getReviewsList" v-else/>
    <el-pagination
    class = "pagination"
    :page-size="getPageSize"
    :pager-count="11"
    :current-page = "getCurrentPageNumber"
    @next-click = "nextPageClick()"
    @prev-click = "previousPageClicked()"
    layout="prev, pager, next"
    :total="getTotalElements">
    </el-pagination>
</div>

