.review-component-root {
    margin: 100px;
}

.el-button-group {
    margin: 20px 0;
    width: 104px;
    display: flex;
    justify-content: space-between;
}

.notactive {
    background-color: var(--ff-light-gray-color);
    border-color: var(--ff-light-gray-color);
    color: var(--ff-font-primary-color);
}
