.news-component {
    width: 1000px;
    margin: 0 auto;
    font-family: var(--txt-font);
}

.row {
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);   
}

.title h1 {
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}

.content {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.main-information > div {
    display: inline-block;
}

.secondary {
  color: var(--secondary-color);
  font-size: 15px;
}

.info-element {
    margin-right: 35px;
}


.el-image {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0 0 5px;
    height: 240px;
}


.row .el-col:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
}

.footer-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-block span {
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
    color: var(--main-bg-color);
}

.footer-block div:last-of-type span {
    font-weight: 600;
    font-size: 25px;
}

.footer-block div {
    display: inline-block;
}