<div class = "news-component">    
  <el-row v-for="newsItem in getNewsList" class = "main-row" :key = "newsItem.Id">
    <el-col :span="9">
      <el-image fit ='cover' :src = 'newsItem.previewImage | imageServerPath'></el-image>
    </el-col>
    <el-col class = "information-col" :span="15">
      <div class = "main-block">
        <div class = "title">
          <h1>{{ newsItem.title }}</h1>
        </div>
        <el-row class = "main-information" type="flex">
          <el-col :span="6" class = "publish-date secondary-text">{{ newsItem.publishTime | convertDateTime('dd.MM.yyyy kk:mm') }}</el-col>
          <el-col :span="5" class = "views-count secondary-text">{{ newsItem.countViews }} {{ $t('news.views') }}</el-col>
          <el-col :span="13" class = "secondary-text">
            {{ newsItem.author.firstName }} {{ newsItem.author.lastName }},
            {{ newsItem.categories | mapByProperty("name") | listStringify }}
          </el-col>
        </el-row>
        <div class = "content">{{ newsItem.content }}</div>
      </div>
      <div class = "footer-block">
        <div><span>{{ newsItem.countCommentaries }} {{ $t('news.commentaries') }}</span></div>
        <div><span>{{ $t('news.fullRead') }}</span></div>
      </div>
    </el-col>
  </el-row>
</div>
