#wrap {
    padding-top: 20px;
    width: 1000px;
    margin: 0 auto;
    font-family: var(--txt-font);
}

.row {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);   
}

.title h1 {
    color: #000;
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}

.content {
    color: #000;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.main-information-wrap {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
}

.main-information > div {
    display: inline-block;
}

.secondary {
  color: #909399;
  font-size: 15px;
}

.info-element {
    margin-right: 35px;
}

.el-image {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0 0 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p {
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #6663FF;
}

.footer div:last-of-type p {
    font-weight: 600;
    font-size: 25px;
}

.footer div {
    display: inline-block;
}