<div id = "wrap">    
  <el-row v-for="element in newsList.news" class = "row" :key = "element.Id">
    <el-col :span="9">
      <el-image fit ='cover' :src='getImgSrc(element.previewImage)'></el-image>
    </el-col>
      <el-col :span="15">
        <div class = "main-block">
          <div class = "title">
            <h1>{{element.title}}</h1>
          </div>
          <div class = "main-information">
            <div class = "info-element secondary"><p>{{element.publishTime |convertDateTime}}</p></div>
            <div class = "info-element secondary"><p>{{element.countViews}} просмотров</p></div>
            <div class = "secondary"><p>{{element.author.firstName}} {{element.author.lastName}}, </p></div>
            <div class = "secondary"><p>{{element.categories |getArrayOfCategoiresName |listStringify}}</p></div>
          </div>
          <div class = "content">{{element.content}}</div>
        </div>
        <div class = "footer-block">
          <div><span>{{element.countCommentaries}} комментариев</span></div>
          <div><span>Читать полностью</span></div>
        </div>
      </el-col>
  </el-row>
</div>
