<div class = "news-component">    
  <el-row v-for="newsItem in newsList" class = "row" :key = "newsItem.Id">
    <el-col :span="9">
      <el-image fit ='cover' :src = 'newsItem.previewImage | imageServerPath'></el-image>
    </el-col>
      <el-col :span="15">
        <div class = "main-block">
          <div class = "title">
            <h1>{{ newsItem.title }}</h1>
          </div>
          <div class = "main-information">
            <div class = "info-element secondary"><p>{{ newsItem.publishTime | convertDateTime('dd.MM.yyyy kk:mm') }}</p></div>
            <div class = "info-element secondary"><p>{{ newsItem.countViews }} просмотров</p></div>
            <div class = "secondary"><p>{{ newsItem.author.firstName }} {{ newsItem.author.lastName }}, </p></div>
            <div class = "secondary"><p>{{ newsItem.categories | mapByProperty("name") | listStringify }}</p></div>
          </div>
          <div class = "content">{{ newsItem.content }}</div>
        </div>
        <div class = "footer-block">
          <div><span>{{ newsItem.countCommentaries }} комментариев</span></div>
          <div><span>Читать полностью</span></div>
        </div>
      </el-col>
  </el-row>
</div>
