div.ff-menu {  
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

div.logo {
  margin-left: 80px;
}

div.buttons {
  margin-right: 150px;
}

.el-menu.el-menu--horizontal {
  border-bottom: 0px; 
  height: var(--header-height);   
}

.el-menu--horizontal>.el-menu-item {  
  height: var(--header-height);
  padding: 15px 0px 0px;
  margin: 0px 0px;  
  font-size: 18px;   
}

ul.main-color > li.main-color.is-active {
  border-bottom: 3px solid var(--main-txt-color);
  color: var(--auxiliary-bg-color);
}

ul.main-color > li.main-color:hover {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color); 
  cursor: default;
}

.el-menu-item > a { 
  color: var(--main-txt-color);
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration: none;
}

a#menu1:hover,
a#menu2:hover,
a#menu3:hover,
a#menu4:hover,
a#menu5:hover {
  background-color: var(--main-txt-color);
  color: var(--main-bg-color); 
}
