div.main {
  width: 1440px;
  height: 90px;
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

div.logo {
  margin-left: 80px;
}

div.buttons {
  margin-right: 150px;
}

.el-menu.el-menu--horizontal {
  border-bottom: 0px; 
  height: 90px;   
}

.el-menu--horizontal>.el-menu-item {  
  height: 90px;
  padding: 15px 0px 0px;
  margin: 0px 25px;  
  font-size: 18px;   
}
