div.ff-menu {  
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

div.logo {
  margin-left: 80px;
}

div.actions {
  margin-right: 150px;
  display: flex;

}
.enter-button {
  padding: 0px 20px 0px;
}

.el-menu.el-menu--horizontal {
  border-bottom: 0px; 
  height: var(--header-height);   
}

.el-menu--horizontal>.el-menu-item {  
  height: var(--header-height);
  padding: 15px 0px 0px;
  margin: 0px 25px;  
  font-size: 18px;   
}

ul.main-color > li.main-color.is-active {
  border-bottom: 3px solid var(--main-txt-color);
  color: var(--auxiliary-bg-color);
}

.el-menu-item > a { 
  text-decoration: none;
} 
