<div class="color-background main">  
  <div class="logo">
    <logo/>
  </div>
  <div>
    <el-menu :default-active="activeIndex" class="el-menu-demo color-background main-color" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1" class="main-color">Фильмы</el-menu-item>
      <el-menu-item index="2" class="main-color">Сериалы</el-menu-item>
      <el-menu-item index="3" class="main-color">Мультфильмы</el-menu-item>
      <el-menu-item index="4" class="main-color">Новости</el-menu-item>
      <el-menu-item index="5" class="main-color">Актеры</el-menu-item>
    </el-menu>
  </div>
    <div class="buttons">    
      <el-button icon="el-icon-search" class="second-color"></el-button>
      <el-button class="second-color">ВОЙТИ</el-button> 
    </div> 
</div>
