<div class="commonMainColorBackground main">  
  <div class="logo">
    <logo/>
  </div>
  <div>
    <el-menu :default-active="activeIndex" class="el-menu-demo commonMainColorBackground" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">Фильмы</el-menu-item>
      <el-menu-item index="2">Сериалы</el-menu-item>
      <el-menu-item index="3">Мультфильмы</el-menu-item>
      <el-menu-item index="4">Новости</el-menu-item>
      <el-menu-item index="5">Актеры</el-menu-item>
    </el-menu>
  </div>
    <div class="buttons">    
      <el-button icon="el-icon-search" class="commonMainColor"></el-button>
      <el-button class="commonMainColor">ВОЙТИ</el-button> 
    </div> 
</div>
