
div {
    text-align: center;
    margin: 15px;
    line-height: 2.0;
    height: 450px;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
strong {
  color: green;
  font-weight: 700;
  font-size: 20px;
  font-family: var(--txt-font);
  font-style: normal;
  }