.blackout {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.window {
  position: absolute;
  width: 464px;
  height: 700px;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  margin: auto;
  background: #ffffff;
  border-radius: 8px;
  border: 3px solid grey;
}
#registration:target {
  display: block;
}
#created:target {
  display: block;
}
.close {
  position: relative;
  left: 105px;
  right: 6.83px;
  top: 0px;
}
.btn_padding {
  letter-spacing: 1px;
}
.item {
height: 95px;
}
.top-indent{
  margin-top: 50px;
}
.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 144%;
  align-items: flex-end;
  text-align: center;
  color: #292c33;
}
.font {
  font-family: Arial, Helvetica, sans-serif;
}
.entrance {
  font-weight: 600;
  padding-top: 40px;
  align-items: flex-end;
  text-align: center;
  color: #292c33;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #292c33;
}
.accountCreate {
  padding: 30px;
  text-align: center;
  line-height: 1.5;
}