.grid-content-wrap{
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}
.grid-content-main{
  padding: 20px;
}
.el-row-wrap{
  margin-top: 20px;
}
.grid-col-wrap{
  border-radius: 5px;
}
.actor-name div{
  display: flex;
  justify-content: start;
}
.actor-name div span{
font-family: Artegra Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 138%;
}
.el-icon-view{
  margin: 1px 0px;
}
.actor-jobs .el-col span{
  font-family: Artegra Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  float: left;
  line-height: 125%;
}
.actor-views .el-col span{
  font-family: Artegra Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
}
#Wrap{
  margin: 0 150px;
}