.close {
  position: absolute;
  left: 413px;
  top: 11px;  
}
.btn-registration {
  width: 235px;
  height: 46px;
}
.inp-login {  
  margin: 0px; 
  padding: 33px 27px 0px;
}
.inp-email { 
  margin: 0px; 
  padding: 58px 27px 0px;
}
.inp-password { 
  margin: 0px;  
  padding: 44px 27px 0px;
}
.entrance {
  padding: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.account-create {
  text-align: center;
  margin: 15px;
  line-height: 2.0;
  height: 450px;
}
.color-massage-error {
  color: #EE4444;
  padding: 0px 27px 0px;
  font-size: 12px;
}
.footer {
  padding: 220px 0px 0px;
}