<div class = "review-component-rows">
    <div v-for="reviewItem in reviews" class = "review-row-element" :key = "reviewItem.Id">
        <el-row>
            <el-col :span="7">
            <el-image fit ='cover' :src = 'getImgSrc()'></el-image>
                <div class = "marks">
                    <div class = "likes">
                    <span class = "icon-count">{{reviewItem.countLikes}}</span>
                    <i class="el-icon-thumb"></i>
                    </div>
                    <div class = "dislikes">
                    <span class = "icon-count">{{reviewItem.countDislikes}}</span>
                    <i class="el-icon-thumb"></i>
                    </div>
                    <div class = "count-comments">
                    <span class = "icon-count">{{reviewItem.countComments}}</span>
                    <i class="el-icon-chat-square"></i>
                    </div>
                </div>
            </el-col>
            <el-col class = "column-main-content" :span="13">
                <h1 class = "review-title">{{reviewItem.reviewTitle}}</h1>
                <div class = "review-txt-content">
                    {{reviewItem.reviewContent}}
                </div>
            </el-col>
            <el-col class = "rate-col" :span="5">
                <div class = "publish-date">
                    <span> {{reviewItem.publishTime | convertDateTime('dd.MM.yyyy')}}</span>
                </div>
                    <div class = "rate-content-main">
                        <el-rate
                            v-model='rateGeneral'
                            class = "rate-general"
                            :max = "1"
                            disabled
                            text-color="var(--ff-font-primary-color)"
                            disabled-void-color = "#D2D5DA"
                            show-score
                            score-template = "{value}">
                        </el-rate>
                    </div>
                    <div class = "rate-content-wrap">
                        <div class = "rate-name">режиссура</div>
                        <el-rate
                            v-model='reviewItem.directingRating'
                            class = "category-rate"
                            disabled
                            text-color="var(--ff-font-primary-color)"
                            disabled-void-color = "#D2D5DA"
                            show-score
                            score-template = "{value}">
                        </el-rate>
                    </div>
                    <div class = "rate-content-wrap">
                        <div class = "rate-name">сюжет</div>
                        <el-rate
                            v-model='reviewItem.plotRating'
                            class = "category-rate"
                            disabled
                            text-color="var(--ff-font-primary-color)"
                            disabled-void-color = "#D2D5DA"
                            show-score
                            score-template = "{value}">
                        </el-rate>
                    </div>
                    <div class = "rate-content-wrap">
                        <div class = "rate-name">зрелищность</div>
                        <el-rate
                            v-model='reviewItem.spectacleRating'
                            class = "category-rate"
                            disabled
                            text-color="var(--ff-font-primary-color)"
                            disabled-void-color = "#D2D5DA"
                            show-score
                            score-template = "{value}">
                        </el-rate>
                    </div>
                    <div class = "rate-content-wrap">
                        <div class = "rate-name">актеры</div>
                        <el-rate
                            v-model='reviewItem.actorsRating'
                            class = "category-rate"
                            disabled
                            text-color="var(--ff-font-primary-color)"
                            disabled-void-color = "#D2D5DA"
                            show-score
                            score-template = "{value}">
                        </el-rate>
                </div>
            </el-col>
        </el-row>
    </div>
</div>

