:root {
    --main-bg-color:  #6663FF;
    --main-txt-color: white;
    --auxiliary-bg-color:  #FFA21C;
    --footer-bg-color:  #5956FF;
    --serial-name-color: #292C33;
    --celebrities-name-color: #292C33;
    --serial-year-color: #8F96A3;
    --header-height: 90px;
    --footer-height: 125px;
    --footer-bottom-height: 57px;
  }
