:root {
    --ff-primary-color:  #6663FF;
    --ff-white-color: #FFFFFF;
    --ff-secondary-color:  #FFA21C;
    --ff-primary-variant-color:  #5956FF;
    --ff-black-color: #292C33;
    --ff-dark-gray-color: #8F96A3;
    --menu-button-height: 45px;
    --header-height: 90px;
    --footer-height: 125px;
    --footer-bottom-height: 57px;
    --movie-card-height: 440px;
    --movie-card-width: 270px;
    --context-margin-top-bottom: 30px;
    --txt-font: Artegra Sans;     
  }
