.grid-content-wrap {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}

.grid-content-main {
  padding: 20px;
}

.el-row-wrap {
  flex-flow: row wrap;
}

.el-image {
  height: 339px;
}

.grid-col-wrap {
  margin-top: 20px;
  border-radius: 5px;
  width: 270px;
}

.person-name div {
  display: flex;
  justify-content: flex-start;
}

.person-name div span {

  font-family: var(--txt-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.el-icon-view {
  margin: 1px 0px;
}

.person-jobs .el-col span {
  font-family: var(--txt-font);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  float: left;
}

.person-views .el-col span {
  font-family: var(--txt-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

#Wrap{
  margin: 0 150px;
}