
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
  display: flex;
  flex-direction: row;                        
  align-items: center;
  justify-content: space-between; 
}

.el-icon-arrow-down {
  font-size: 12px;
  margin-right: 20px;
}

.user-avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.el-dropdown-menu {
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  margin: 0;
  width: 130px;
  height: 794px;
  border: none;
}

.el-dropdown-menu .el-image {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}


.el-button {
    margin: 0px 3px 10px 0px;
    width: 74px;
    height: 54px;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.el-button:hover {
    background-color: whitesmoke;
    color: var(--main-bg-color);
}

hr {
    border: 1px solid #ECECFE;
    margin: 30px 22px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    margin-top: 200px;
}
