<div class="user-menu-component">
    <el-dropdown>
        <span class="el-dropdown-link">
            <i class="el-icon-arrow-down main-color el-icon--right"></i><el-image class="user-avatar"></el-image>
        </span>
        <el-dropdown-menu slot="dropdown">
                <el-image class="img"></el-image>
                <hr>
                <div class="icons">
                    <el-button icon="el-icon-video-camera" class="main-color"></el-button>
                    <el-button icon="el-icon-edit" class="main-color"></el-button>
                    <el-button icon="el-icon-bell" class="main-color"></el-button>
                    <el-button icon="el-icon-user" class="main-color"></el-button>
                    <el-button icon="el-icon-setting" class="main-color"></el-button>
                    <el-button icon="el-icon-right" class="logout-button main-color"></el-button>
                </div>
        </el-dropdown-menu>
    </el-dropdown>
</div>