  <div>      
      <el-form>              
        <el-form-item class="login" prop="name">
        <el-input placeholder="Имя пользователя"
                  v-model="name"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.name"> {{ errors.name }}</i>

        <el-form-item class="email" prop="email">
        <el-input placeholder="Email"                  
                  v-model="email"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.email"> {{ errors.email }}</i>

        <el-form-item class="password" prop="password">
        <el-input type="password"
                  placeholder="Пароль"
                  v-model="password"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.password"> {{ errors.password }}</i>
      </el-form>
      <div class="dialog-footer">
        <el-button
            class="registration-button"
            type="primary"
            @click="registration()"
          >Зарегистрироваться</el-button> 
          <div class="entrance">
            Уже есть аккаунт? <b>Вход</b>
          </div>     
      </div>
  </div>