  <div>      
      <el-form>              
        <el-form-item class="login" prop="name">
        <el-input placeholder="Имя пользователя"
                  v-model="name"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.UserName"> {{ errors.UserName[0] }}</i>

        <el-form-item class="email" prop="email">
        <el-input placeholder="Email"                  
                  v-model="email"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.Email"> {{ errors.Email[0] }}</i>

        <el-form-item class="password" prop="password">
        <el-input type="password"
                  placeholder="Пароль"
                  v-model="password"
        >
        </el-input>
        </el-form-item>

        <i class="el-icon-error color-massage-error" type="error" v-show="errors.UserPassword"> {{ errors.UserPassword[0] }}</i>
      </el-form>
      <div class="dialog-footer">
        <el-button
            class="registration-button"
            type="primary"
            @click="registration()"
          >Зарегистрироваться</el-button> 
          <div class="entrance">
            Уже есть аккаунт? <b>Вход</b>
          </div>     
      </div>
  </div>