#Wrap {
  margin: 0 150px;
  font-family: sans-serif;
  font-style: normal;
}

.el-row-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 70px;
  margin-bottom: 50px;
}

.image {
  margin-right: 50px;
  min-width: 261px;
  max-width: 350px;
}

.el-image {
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 261px;
  padding-top: 10px;
}

.content > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-weight: 500;
  font-size: 14px;
  line-height: 125%;

  box-sizing: border-box;
}

.content > div > div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content > div > div > div {
  box-sizing: border-box;
}

.content > div > div > div:first-child {
  display: flex;
  align-items: center;

  /*border: 1px solid red;*/
  width: 24%;
}

.content > div > div > div:last-child {
  display: flex;
  align-items: center;

  padding-left: 7px;

  color: rgb(102, 99, 255);
  /*border: 1px solid black;*/
  white-space: normal;
  width: 76%;
}

h1,
h3 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 138%;
  color: rgb(115, 117, 122);
}

.content div div:last-child a:first-child {
  margin-right: 7px;
}

a[href*="facebook"] {
  margin-right: 7px;
}

a[href*="instagram"] {
  margin: 0px 7px;
}

a[href*="twitter"] {
  margin-left: 7px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
  margin-left: 50px;
}

.rating > div {
  font-size: 16px;
  font-weight: 500;
  line-height: 144%;
  width: 100%;
}

.rating > div:nth-child(2n + 1):not(:first-child) {
  padding: 15px 0px 8px 0px;
}

.rating > div:nth-child(2n) {
  display: flex;
  justify-content: space-around;

  /*box-sizing: border-box;
  padding-right: 2px;*/
}

.rating > div:nth-child(2n) > div {
  padding-right: 5px;

  font-size: 24px;
  font-weight: 600;

  color: rgb(102, 99, 255);
}

.rating > div:first-child {
  padding-bottom: 8px;
}

.el-rate {
  display: flex;
  align-items: center;
}

.rate >>> .el-rate__icon {
  font-size: 24px;
  margin: 0px;
}
